@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'page';
@import 'register';
@import 'page-404';
@import 'shop';
@import 'product-one';
@import 'contacts';


.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 36px;
  }

  &__list-link {
    color: $title;
    text-transform: uppercase;
    padding: 0 2px 6px;
    transition: color 0.3s;
    @extend %roboto-400;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }

  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    // margin-left: 25px;
    padding-left: 25px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -8px;
    right: -14px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }
}

.footer {
  background-color: $bg;
}

.footer-top {
  padding: 74px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    width: 250px;
    margin-right: 50px;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__logo {
    margin-bottom: 32px;
    display: block;
  }

  &__address,
  &__email,
  &__phone {
    display: block;
  }

  &__social-list {
    display: flex;
    margin-bottom: 14px;
  }

  &__social-item+.footer-top__social-item {
    padding-left: 18px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__social-link {
    transition: all 0.3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 14px;
  }

  &__title {
    color: $title;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }

  &__form-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__accept-img {
    display: inline;
    margin-left: 25px;
    vertical-align: middle;
  }
}

.top-slider {
  background-image: url('../images/decor/top-slider-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding: 60px 0 45px;

  &__container {
    max-width: 1520px;
  }

  &__content {
    padding-left: 186px;
    padding-top: 129px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 670px;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    color: $default;
    @extend %quicksand-500;
    margin-bottom: 39px;
  }

  &__link {
    @extend %btn;
    padding: 19px 35px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border: 2px solid transparent;
        border-radius: 50%;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $default;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-left-bg.png');
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url('../images/decor/categories-right-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-image: url('../images/decor/info-before-bg.svg');
    background-repeat: no-repeat;
    width: 120px;
    height: 212px;
    top: -45px;
    left: -45px;
  }

  &::after {
    background-image: url('../images/decor/info-after-bg.svg');
    width: 65px;
    height: 52px;
    bottom: -23px;
    right: -23px;
  }

  &__item {
    padding: 60px 40px;
    width: 370px;
    background-color: rgb(255, 255, 255);
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__item-title {
    padding: 38px 0 14px;
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 636px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 40px;
    padding-left: 38px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__item-subtitle,
      .categories__link:hover {
        color: #6525e5;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__link:hover {
        color: $accent;
      }
    }

    &:nth-child(3) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #34c3ff;
      }
    }

  }

  &__item-title {
    font-size: 22px;
    color: $title;
    margin-bottom: 16px;
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
    transition: color .3s;
  }
}

.video-fashion {
  background-color: $bg;
  background-image: url('../images/decor/pattern.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 125px 0;

  &__inner {
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    max-width: 536px;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__content {
    max-width: 570px;
  }

  &__subtitle {
    padding-top: 75px;
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__title {
    text-align: left;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
  }
}

.product {
  padding: 105px 0 120px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 30px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: $title;
    border: 1px solid $accent;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &.product-item--list {
    min-width: 100%;
    display: flex;
    text-align: left;

    &:hover {
      .product-item__link-box {
        transform: translateY(-200%);
      }
    }

    .product-item__img-box {
      min-width: 200px;
      height: 250px;
      margin-bottom: 0;

      img {
        height: 250px;
      }
    }

    .product-item__text {
      margin-bottom: 25px;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-item__btn {
      color: #fff;
      padding: 15px 40px;
      background-color: $title;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $accent;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
      }
    }

    .product-item__link-box {
      background-color: transparent;
      width: 115px;
      box-shadow: none;
      bottom: 0;

      .product-item__link {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-item__link--line {
        display: none;
      }
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__wrapper-box {
      padding: 24px 40px;
      border: 1px solid #ececec;
      border-left: none;
    }

    .product-item__box {
      display: flex;
      flex-wrap: wrap;
    }

    .product-item__title {
      order: -1;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }

    .product-item__price {
      order: -1;
      margin-left: -12px;
    }

    .star {
      margin-left: 23px;
    }
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__content-box {
    display: none;
  }

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__link-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    background-color: #fff;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__link {
    display: inherit;

    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    path {
      fill: $accent;
    }
  }

  &__link--line {
    position: relative;
  }

  &__link--line::after,
  &__link--line::before {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link--line::before {
    left: 46px;
  }

  &__link--line::after {
    right: 46px;
  }

  &__images {
    object-fit: cover;
  }

  &__title {
    color: $title;
    padding: 15px 0 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }

  &__new-price {
    padding: 0 12px;
    color: $title;
  }

  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }

  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      position: absolute;
      @extend %btn;
      top: 25px;
      left: 25px;
      line-height: 1;
      padding: 5px 10px;
    }
  }
}

.star {
  margin: 0 auto;
}

.promo {
  background-image: url('../images/promo/promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 150px 0 160px;
  text-align: center;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    color: $accent;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__clock-item {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

    span {
      font-size: 48px;
      @extend %roboto-700;
      margin: 10px 0 7px;
      color: $title;
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: $title;
    border: 1px solid $accent;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.partners {
  padding-top: 75px;

  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blog {
  padding: 50px 0 160px;
  background-image: url('../images/decor/blog-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/decor/blog-decor.svg');
      width: 126px;
      height: 53px;
      top: -26px;
      right: -20px;
      z-index: -1;
    }
  }

  &__item {
    max-width: 370px;
    border: 1px solid #ececec;

    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: 1px solid #fff;

      .blog__item-link {
        color: $accent;

        &:after {
          background-image: url('../images/icons/arrow-accent.svg');
        }
      }
    }
  }

  &__item-box {
    padding: 30px 40px;
  }

  &__item-imglink {
    display: block;

    img {
      height: 288px;
      object-fit: cover;
    }
  }

  &__item-title {
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__item-link {
    position: relative;
    padding-right: 6px;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 8px;
      background-image: url('../images/icons/arrow.svg');
      top: 8px;
      right: -14px;
    }
  }
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 4px;
    }
  }

  &__author::before {
    background-image: url('../images/icons/user-grey.svg');
  }

  &__date::before {
    background-image: url('../images/icons/tame.svg');
  }

}

.blog-page {
  padding: 120px 0 60px;

  &__slider {

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      background-color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

      path {
        fill: #fff;
      }
    }

    .slick-disabled {
      background-color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

      path {
        fill: $accent;
      }
    }

    .slick-prev {
      left: 40px;
    }

    .slick-next {
      right: 40px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 770px;
    margin-right: 30px;
  }

  &__aside {
    width: 370px;
  }

  &__item {
    margin-bottom: 60px;

    &.blog-page__item--no-image {
      border-top: 1px solid $border;
      box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }
  }

  &__item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }

  &__item-link {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
    display: block;
  }

  &__item-box {
    border: 1px solid $border;
    border-top: none;
    padding: 40px;
  }

  &__item-title {
    color: $title;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  .blog-box {
    justify-content: flex-start;

    &__author {
      margin-right: 30px;
    }
  }
}

.person {
  border: 1px solid $border;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 20px;

  &__img {
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__name {
    color: $title;
    font-size: 18px;
    @extend %roboto-700;
  }

  &__position {
    color: $accent;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__social-link {
    margin: 0 8px;

    path {
      fill: $default;
      transition: fill 0.3s;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid $border;
  margin-bottom: 40px;

  &__title {
    color: $title;
    text-transform: uppercase;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 20px;
    display: flex;

    &+& {
      border-top: 1px solid $border;
      padding-top: 20px;
    }
  }

  &__img-link {
    display: block;
    margin-right: 20px;
    min-width: 80px;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &__box-link {
    font-size: 18px;
    line-height: 28px;
    @extend %roboto-400;
    color: $title;
  }

  &__date {
    padding-left: 26px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url('../images/icons/calendar.svg');
      width: 16px;
      height: 16px;
    }
  }
}

.blog-one {

  &__text {
    h4 {
      color: $title;
      font-size: 22px;
      @extend %roboto-500;
      margin: 25px 0;
    }

    p {
      margin: 25px 0;
    }

    blockquote {
      background-color: $bg;
      border-left: 3px solid $accent;
      padding: 34px;
      margin: 25px 0;
      font-size: 22px;
      line-height: 32px;
      @extend %roboto-400;
      color: $title;
    }

    border: 1px solid $border;
    border-top: none;
    padding: 29px;
    margin-top: -1px;
  }

  &__left-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  &__right-img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    margin-bottom: 25px;
  }

  &__info-link {
    margin-right: 30px;
    padding-left: 28px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      background-image: url('../images/icons/calendar.svg');
      width: 16px;
      height: 16px;
    }

    &--comment::before {
      background-image: url('../images/icons/comment-blog.svg');
    }

    &--author::before {
      background-image: url('../images/icons/user-blog.svg');
    }
  }

  &__form-title {
    text-transform: uppercase;
    margin: 35px 0 25px;
    font-size: 24px;
    @extend %roboto-700;
    color: $title;
  }

  .comments-form {
    border-bottom: none;
  }

  &__box {
    margin: 25px 0 35px;
    display: flex;
    justify-content: space-between;
  }

  &__tags,
  &__share {
    span {
      text-transform: uppercase;
      color: $title;
      @extend %roboto-500;
      margin-right: 5px;
    }
  }

  &__share {

    a {
      margin-right: 12px;
      vertical-align: middle;

      path {
        fill: $default;
      }

      &:hover {
        path {
          fill: $accent;
        }
      }
    }

    a:last-child {
      margin-right: 0;
    }
  }

  &__author {
    border-bottom: 1px solid $border;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
  }

  &__author-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__author-name {
    margin-bottom: 24px;
    font-size: 22px;
    @extend %roboto-500;
    color: $title;
  }
}

.comments-title {
  margin-bottom: 25px;
  font-size: 24px;
  @extend %roboto-700;
  color: $title;
  text-transform: uppercase;
}

.map {
  padding: 120px;
}

#map {
  width: 100%;
  height: 450px;
}

// media
@import 'media';